<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<title>Trivia Game</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<style>
.jumbotron {
	margin: 0px;
	background-image:
		url("https://images.pexels.com/photos/3694711/pexels-photo-3694711.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
	background-size: cover;
	background-repeat: no-repeat;
}

#mainbody {
	background-image:
		url("https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#inputArea{
width:100px;

}
</style>
</head>

<body>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Trivia Question </h1>
		</div>
	</div>

	<div id="mainbody" th:each="result:${triviaQuestions}">
		<span th:text="${result.question}"> </span>
		
		<form th:action="@{/final}" th:object="${userAnswer}" method="post"
			autocomplete="off" class="form-inline">
			<label>Answer:</label> 
			<select id="inputArea" th:field="*{answer}">
				<option th:value="${result.correct_answer}"
					th:text="${result.correct_answer}"></option>
				<option th:each="answer:${result.incorrect_answers}"
					th:value="${answer}" th:text="${answer}"></option>
			</select>
			<input type="hidden" th:field="*{answer}" />
			<!--button type="submit">Submit</button>-->
		</form>
		<!--<input type="hidden" name="size" th:value="${}">-->
	</div>
	<form th:action="@{/final}" th:object="${userAnswer}" method="post"
			autocomplete="off" class="form-inline">
      <button type="submit">Submit</button>
    </form>


	<footer class="bg-light text-center text-lg-start">
		<!-- Copyright -->
		<div class="text-center p-3"
			style="background-color: rgba(0, 0, 0, 0.2);">
			© 2020 Copyright: <a class="text-dark"
				href="https://mdbootstrap.com/">TriviaQuestion</a>
		</div>
		<!-- Copyright -->
	</footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>
